<div class="fluid-container" style="margin: auto;">
    <div class="container">
        <div class="row mt-4" style="height:500px">
            <div class="col"></div>
            <div class="col-mid-6 bg-white shadow" style="width: 50%;">

                <div class="card bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-1">TO DO LIST</h4>
                </div>

                <div class="input-group mb-3 p-4 shadow">
                    <input type="text" class="form-control" name="task" [(ngModel)]="addTaskValue" placeholder="Add a task..." required>
                    <button class="btn btn-outline-success" type="button" (click)="onClick()">{{ changeName }}</button>
                </div>

                <div style="overflow-y: auto; height: auto;">
                    <div class="m-3" *ngFor="let task of taskArray; let i = index">
                        <div class="p2 shadow border">
                            <div class="input-group row ps-2">
                                <div class="card col-md-8 border-0 pt-2" *ngIf="!this.task.isCompleted">{{i+1}}. {{task.task_name}}</div>
                                <div class="card col-md-8 border-0 pt-2" *ngIf="this.task.isCompleted"><s>{{i+1}}. {{task.task_name}}</s></div>
                                <button class="btn btn-outline-info col m-1 p-1"  (click)="editTask(task)">Edit</button>
                                <button class="btn btn-outline-success col m-1 p-1"  (click)="isCompletedTask(task)">Complete</button>
                                <button class="btn btn-outline-danger col m-1 p-1" [disabled]="addTaskValue" (click)="deleteTask(task)">Delete</button>
                            </div>
                       </div>
                     </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
